/* ------------------------- Rounded Div -------------------------------------------------- */
/* .rounded-div-wrap {
   width: 100%;
   top: 0;
   position: relative;
   height: 10vh;
   overflow: hidden;
} */

/* .rounded-div {
   width: 150%;
   content: "";
   display: block;
   position: absolute;
   background: var(--color-white);
   height: 750%;
   left: 50%;
   border-radius: 50%;
   transform: translate(-50%, -86.666%);
   z-index: 1;
} */

.btn-text {
   font-weight: 500;
}

#MathJax_Message {
   display: none !important;
}
