:root {
    --section-padding: clamp(5em, 21vh, 12em);
    --color-border: rgba(28, 29, 32, 0.175);
    --title-size: clamp(5em, 7.5vw, 7.5em);

    --color-text-light: rgba(var(--color-light-rgb), 0.7);
    --color-light-rgb: 255, 255, 255;
    --clr-border: rgba(28, 29, 32, 0.175);

    --animation-primary: 0.4s cubic-bezier(0.5, 0.75, 0, 1);
    --animation-smooth: 0.7s cubic-bezier(0.5, 0.5, 0, 1)


}


@media screen and (max-width: 1200px){
    :root { 
        --container-padding: 6vw;
    }
}

@media screen and (max-width: 720px){
    :root { 
        --section-padding: 12vh;
    }
}

/* ------------------------- Main Elements -------------------------------------------------- */

.section {
    display: block;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    min-height: 100vh;
    /* border: 3px solid hotpink; */
}

.container {
    margin: 0 auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    max-width: 100em;
}

.container.medium {
    padding-left: calc(var(--container-padding) * 2);
    padding-right: calc(var(--container-padding) * 2);
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.flex-col {
    display: block;
    width: 100%;
    order: 2;
    position: relative;
}

h3.big {
    font-size: calc(var(--title-size) * 0.45);
    line-height: 1.2;
}

h4 {
    font-weight: 400;
    width: 20ch;
}

.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark p {
    color: var(--color-white);
}


.blur-load > img {
    opacity: 0;
}

.blur-load {
    position: absolute;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stripe {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
}


.section.theme-dark {
    background: var(--color-dark);
}

.btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 2.5em;
    z-index: 2;
    color: var(--color-dark);
    position: relative;
    transform: rotate(0.001deg);
    pointer-events: none;
    will-change: transform, color;
}

/* ------------------------- Quote -------------------------------------------------- */
blockquote {
font-family: Georgia, serif;
font-style: italic;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: white;
opacity: 0;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}